---
import Layout from '../layouts/Layout.astro';
import Lorem from '../components/Lorerm.astro';
---

<Layout title="Home - Sky Martial Arts Wayne">
	<main>
		<h1>Welcome to Astro</h1>
		<p>
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p>
		<Lorem /><Lorem /><Lorem /><Lorem />
	</main>
</Layout>

