---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" sizes="32x32" href="favicon32.webp">
		<link rel="icon" sizes="192x192" href="favicon192.webp">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<nav class="navbar fixed-top navbar-expand-lg bg-white">
	<div class="container-fluid">
		<a class="navbar-brand" href="#"><img src="favicon192.webp" alt="Bootstrap" width="60" height="60"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
		<ul class="navbar-nav mb-2 mb-lg-0">
			<li class="nav-item">
			<a class="nav-link" aria-current="page" href="/">Home</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="/programs">Our Programs</a>
			</li>
			<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Dropdown
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><hr class="dropdown-divider"></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
			</li>
			<li class="nav-item">
			<a class="nav-link disabled">Disabled</a>
			</li>
		</ul>
		</div>
	</div>
	</nav>
	<div class="mt-5 ms-2"><slot /></div>
		
	</body>
</html>
<style is:global>
@import "./node_modules/bootstrap/scss/bootstrap.scss";
</style>
